.book-section{
    
    width: 400px;
    height:500px;
    margin:10px;
    border:1px solid black;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.section-header{
    display: flex;
    justify-content: center;
}